input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.center {
  display: table;
  margin: 0 auto;
}

.small-input {
	width: 40%;
}

.n-way-group > label > div, .n-way-group > label > input {
	display: inline-block;
}

.inline {
	vertical-align: middle;
}

.big-line {
	line-height: 3;
}

label {
	font-weight: 200;
}

.fieldset-row{
	margin-bottom: 5%;
}

.row {
	margin-bottom: 20px;
}

svg {
	border-style: solid;
}

svg g .instr-Read {
  stroke-width: 3;
  stroke: black;
  fill: turquoise;
}

svg g .instr-Write {
  stroke-width: 3;
  stroke: black;
  fill: orange;
}


svg g rect {
  stroke-width: 3;
  stroke: black;
  fill: white;
}

svg g .instr-address {
  stroke-width: 3;
  stroke: black;
  fill: white;
}

svg g text {
  fill: black;
  font: 14px sans-serif;
  text-anchor: middle;
}

svg #cache text {
  fill: black;
  font: 12px sans-serif;
  text-anchor: middle;
}

svg g .cache-header {
	stroke-width: 3;
  	stroke: black;
  	fill: lightgray;
}

svg g .instr-header {
	stroke-width: 3;
  	stroke: black;
  	fill: lightgray;
}

svg g .block-header {
	stroke-width: 3;
  	stroke: black;
  	fill: gray;
}

svg g .working {
  fill: black;
  font: 12px sans-serif;
  text-anchor: start;
}

svg g .instr-header {
  stroke-width: 3;
  stroke: black;
  fill: lightgray;
}

svg g .instr-cell-header {
	stroke-width: 3;
	stroke: black;
	fill: lightgray;
}

.highlight {
	fill-opacity: 0.6 !important;
	fill: yellow !important;
}
